<div class="container">
  <table class="table caption-top">
    <caption>player</caption>
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">Period</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{showProfil.name}}</td>
        <td>{{showProfil.email}}</td>
        <td>{{showProfil.Period}}</td>
        
        <!-- <td>{{showProfil.phone}}</td> -->
        <!-- <td>{{showProfil.age}}</td> -->
        <!-- <td>{{showProfil.gender}}</td> -->
      </tr>
    </tbody>
  </table>
</div>